<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.duli.mapper.UserMapper" >

  <select id="login" resultType="cn.duli.pojo.User">
  select * from user
  <where>
    <if test="username != null and username !=''">
      and username = #{username}
    </if>
    <if test="password != null and password != ''">
      and password = #{password}
    </if>
  </where>
  </select>

  <select id="queryAll" resultType="cn.duli.pojo.User">
    select * from user
  </select>

  <select id="queryLike" resultType="cn.duli.pojo.User">
    select * from USER
    <where>
      <if test="username != null and username != ''">
        and username like concat('%',#{username},'%')
      </if>
    </where>
  </select>

  <delete id="deleteById" parameterType="int">
    delete from user where id = #{id}
  </delete>
</mapper>